<footer class="l-footer">
  <div class="l-gooter__inner l-container">
    <ul class="l-footer__list">
      <li class="l-footer__item">
        <a href="@" class="l-footer__link">ホーム</a>
      </li>
      <li class="l-footer__item">
        <a href="@" class="l-footer__link">メッセージ</a>
      </li>
      <li class="l-footer__item">
        <a href="@" class="l-footer__link">会社概要</a>
      </li>
    </ul>

    <div class="l-footer__copy">
      <small>&copy;START</small>
    </div>
  </div>
</footer>