<header class="l-header">
  <div class="l-header__inner">
    <h1 class="l-header__logo">
      <a href="@" class="l-header__logo-link">
        <img src="common/img/logo.svg" alt="START" class="l-header__logo-img">
      </a>
    </h1>
    <div class="l-header__nav">
      <nav class="gnav">
        <ul class="gnav__list">
          <li class="gnav__item">
            <a href="index.html" class="gnav__link active">ホーム</a>
          </li>
          <li class="gnav__item">
            <a href="message.html" class="gnav__link">メッセージ</a>
          </li>
          <li class="gnav__item">
            <a href="about.html" class="gnav__link">会社概要</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="btn-menu" id="menuBtn">
        <span class="btn-menu__line"></span>
      </button>
    </div>
  </div>
</header>